body {
    background-color: #EFFFFD;
}

h1 {
    color: #46244C;
}

h3 {
    color: #42C2FF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}